<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* The styles are in app.component.sass */
</style>

<div class="main">
  <div class="container_all">
    <nav class="sidebar_container">
      <div class="link_container">
        <a href="#">
          <fa-icon [icon]="faHamburger" class="icon_hamburger"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faBath" class="icon_bath"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faAtom" class="icon_atom"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faUserCircle" class="icon_user"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faCode" class="icon_code"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faTerminal" class="icon_terminal"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faLaptopCode" class="icon_laptop"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faCodeBranch" class="icon_branch"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faEllipsis" class="icon_ellipsis"></fa-icon>
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="navbar">
        <div class="search_container">
          <input type="text" placeholder="Search Results" />
          <button class="button_search">Search</button>
        </div>
        <div class="container_add_button">
          <button>New Product</button>
        </div>
      </div>
      <div class="container_content">
        <div class="container_message">
          <h3>Learn More with my work you can visit my github profile</h3>
          <a
            href="https://github.com/johngualteros?tab=repositories"
            target="_blank"
            ><button id="button_message">Learn More</button></a
          >
        </div>
        <div class="container_graphics">
          <div class="container_graphic profile">
            <img
              src="https://img.freepik.com/fotos-premium/cara-joven-programador-masculino-afroamericano-serio-mirando-camara_274679-35206.jpg"
              alt=""
            />
            <div>
              <h3>John Ray</h3>
              <p>Lorem ipsum dolor</p>
              <p class="color-blue">Engineer</p>
            </div>
          </div>
          <div class="container_graphic profile">
            <img
              src="https://st3.depositphotos.com/2309453/12546/i/600/depositphotos_125463860-stock-photo-happy-young-university-student-in.jpg"
              alt=""
            />
            <div>
              <h3>Keyla</h3>
              <p>Lorem ipsum dolor</p>
              <p class="color-pink">Sofware Developer</p>
            </div>
          </div>
          <div class="container_graphic profile">
            <img
              src="https://img.freepik.com/foto-gratis/cara-joven-programador-diversidad-seria-anteojos_236854-37211.jpg"
              alt=""
            />
            <div>
              <h3>Johan Mclaine</h3>
              <p>Lorem ipsum dolor</p>
              <p class="color-orange">Web Developer</p>
            </div>
          </div>
          <div class="container_graphic">
            <h4>Total Sales</h4>
            <img
              src="https://www.pngall.com/wp-content/uploads/10/Bar-Chart-Vector-PNG-Photos.png"
              alt=""
              id="image_graphic"
            />
          </div>
          <div class="big_graphic">
            <table>
              <thead>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Status</th>
              </thead>
              <tbody>
                <tr *ngFor="let worker of dataTable">
                  <td>{{ worker.name }}</td>
                  <td>{{ worker.position }}</td>
                  <td>{{ worker.office }}</td>
                  <td>{{ worker.age }}</td>
                  <td
                    [ngClass]="{
                      'color-green': worker.status == true,
                      'color-red': worker.status == false
                    }"
                  >
                    {{ worker.status ? "Active" : "Inactive" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
